.x0 {
  left: 0px; }

.y0 {
  top: 0px; }

.x1 {
  left: 20px; }

.y1 {
  top: 20px; }

.x2 {
  left: 40px; }

.y2 {
  top: 40px; }

.x3 {
  left: 60px; }

.y3 {
  top: 60px; }

div.game-container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.jpg); }

div.dice {
  width: 100px;
  height: 100px;
  background-color: green; }
